S3method(plot,gofm)
S3method(plot,gofv)
S3method(summary,gofm)
export(nb.gof.m)
export(nb.gof.v)
export(plot.md)
import(NBPSeq)
import(edgeR)
import(foreach)
import(numDeriv)
import(parallel)
importFrom(gap,qqunif)
useDynLib(NBGOF,Cdqrls)
