S3method(summary,gofm)
export(CV)
export(EPPlot)
export(diagPlot)
export(multiplot)
export(nb.gof.m)
export(nb.gof.v)
export(plot.md)
import(NBPSeq)
import(edgeR)
import(foreach)
import(numDeriv)
import(parallel)
useDynLib(NBGOF,Cdqrls)
